<!-- users/login start -->
<div class="container-fulid login-page">
    <div class="login-main">
            <div class="row">
                    <form name="loginForm">
                        <div class="col-md-5">
                            <div class="login-part">
                                <span class="lg-icon fa fa-user"> </span>
                                <input type="text" id="accounts" autocomplete="off">
                                <span class="botton-line"></span>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="login-part">
                                <span class="lg-icon fa fa-lock"> </span>
                                <input type="password" id="password" autocomplete="off">
                                <span class="botton-line"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button  class="button button--antiman login-submit" type="submit">登陆</button>
                        </div>
                    </form>
            </div>
    </div>
</div>
<!-- users/login end -->